.wp-block-site-logo img {
    max-width:180px;
}

.quote-button a {
	background-color: var(--wp--preset--color--primary);
	color: white !important;
	padding: 12px 24px;
	text-decoration: none;
	border-radius: 0;
	display: inline-block;
}

.header-phone-email a {
	text-decoration: none;
}

.header-phone-email a:hover {
	text-decoration: underline;
}

@media (min-width: 1101px) {
  .wp-block-navigation__responsive-container-open {
    display: none;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: flex;
  }
}

@media (max-width: 1100px) {
  .wp-block-navigation__responsive-container {
    display: none;
  }

  .wp-block-navigation__responsive-container-open {
    display: flex;
  }
}