.wp-block-site-logo img {
    max-width:180px;
}

.quote-button a {
	background-color: var(--wp--preset--color--primary);
	color: white !important;
	padding: 12px 24px;
	text-decoration: none;
	border-radius: 0;
	display: inline-block;
}

.header-phone-email a {
	text-decoration: none;
}

.header-phone-email a:hover {
	text-decoration: underline;
}