@media only screen and (max-width: 850px) {
	.hero-main {
		padding-left: 0px !important;
		min-height: unset !important;
		justify-content: center !important;
		text-align: center !important;
		padding-top: 40px;

		 .clear-all {
            display: none;
        }

		.hero-content {
			width: 85%;
		}

		img.wp-block-cover__image-background {
			display: none;
		}

		.wp-block-cover.has-custom-content-position.has-custom-content-position.is-position-center-left .wp-block-cover__inner-container {
			margin: 0 auto !important;
		}

		.wp-block-buttons {
			justify-content: center;
		}
	}
}