@media only screen and (max-width: 1050px) {

    .wp-block-columns.questions-main {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }

    .wp-block-column.questions-collapse {
        flex: none !important;
        width: 100% !important;
        display: block !important;

        text-align: center;
        
    }
    .questions-main {
        .wp-block-buttons.is-content-justification-right {
            justify-content: center !important;
            padding-top: 30px;
        }
    }
}